$light-brown: #fc8342;
$green: #baf853;
$dark-brown: #e55d21;
$pixel-size:20px;
.link {
  &.front1{
    margin:$pixel-size * 4;
    width: $pixel-size * 14;
    position: absolute;
    .ear {
      float: left;
      background-color: $light-brown;
      height: $pixel-size * 2;
      width: $pixel-size * 2;
      position: relative;
      &.left {
        margin-left: $pixel-size * 3;
        top: $pixel-size * 4;
        left: -$pixel-size * 2;
        &:before {
          content: "";
          background-color: $light-brown;
          height: $pixel-size * 2;
          width: $pixel-size;
          position: absolute;
          top: -$pixel-size * 2;
        }
        &:after {
          content: "";
          background-color: $light-brown;
          width: $pixel-size * 2;
          height: $pixel-size;
          position: absolute;
          bottom: -$pixel-size;
          left: $pixel-size;
        }
      }
      &.right {
        top: $pixel-size * 4;
        left: 0;
        &:before {
          content: "";
          background-color: $light-brown;
          height: $pixel-size * 2;
          width: $pixel-size;
          position: absolute;
          top: -$pixel-size * 2;
          left: $pixel-size;
        }
        &:after {
          content: "";
          background-color: $light-brown;
          width: $pixel-size * 2;
          height: $pixel-size;
          position: absolute;
          bottom: -$pixel-size;
          right: $pixel-size;
        }
      }
    }
    .head {
      float: left;
      .hat {
        background-color: $green;
        height: $pixel-size * 2;
        width: $pixel-size * 6;
        position: relative;
        left: -$pixel-size;
        &:before {
          content: "";
          background-color: $green;
          height: $pixel-size * 2;
          width: $pixel-size;
          position: absolute;
          top: $pixel-size;
          left: -$pixel-size;
        }
        &:after {
          content: "";
          background-color: $green;
          height: $pixel-size * 2;
          width: $pixel-size;
          position: absolute;
          top: $pixel-size;
          right: -$pixel-size;
        }
      }
      .hair {
        background-color: $dark-brown;
        height: $pixel-size * 2;
        width: $pixel-size * 6;
        position: relative;
        left: -$pixel-size;
        &:before {
          content: "";
          background-color: $dark-brown;
          height: $pixel-size * 3;
          width: $pixel-size;
          position: absolute;
          top: $pixel-size;
          left: -$pixel-size;
        }
        &:after {
          content: "";
          background-color: $dark-brown;
          height: $pixel-size * 3;
          width: $pixel-size;
          position: absolute;
          top: $pixel-size;
          right: -$pixel-size;
        }
      }
      .face {
        background-color: $light-brown;
        height: $pixel-size * 5;
        width: $pixel-size * 4;
        position: relative;
        &:before {
          content: "";
          background-color: $light-brown;
          width: $pixel-size;
          height: $pixel-size * 4;
          position: absolute;
          left: -$pixel-size;
          top: 0;
        }
        &:after {
          content: "";
          background-color: $light-brown;
          width: $pixel-size;
          height: $pixel-size * 4;
          position: absolute;
          right: -$pixel-size;
          top: 0;
        }
        .eye, .eyebrow {
          width: $pixel-size;
          height: $pixel-size;
        }
        .eye {
          background-color: $dark-brown;
          position: absolute;
          top: $pixel-size;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
        .eyebrow {
          background-color: $green;
          position: absolute;
          top: 0px;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
        .mouth {
          background-color: $dark-brown;
          width: $pixel-size * 2;
          height: $pixel-size;
          position: absolute;
          bottom: $pixel-size;
          left: $pixel-size;
          &.open {
            height: $pixel-size * 2;
            bottom: 0;
          }
          &:hover {
            @extend .open;
          }
        }
      }
    }
    .body {
      background-color: $green;
      width: $pixel-size * 10;
      height: $pixel-size * 6;
      position: relative;
      top: $pixel-size * 7;
      left: $pixel-size * 2;
      z-index: -1;
      &:after {
        content: "";
        background-color: $green;
        width: $pixel-size * 9;
        height: $pixel-size * 1;
        position: absolute;
        bottom: -$pixel-size;
        left: 0;
        z-index: -1;
      }
      .belt {
        background-color: $dark-brown;
        width: $pixel-size * 10;
        height: $pixel-size;
        position: absolute;
        left: 0;
        bottom: $pixel-size;
        &:before {
          content: "";
          height: $pixel-size * 3;
          width: $pixel-size * 3;
          background-color: $dark-brown;
          position: absolute;
          left: $pixel-size * 3;
          top: -$pixel-size;
        }
        &:after {
          content: "";
          height: $pixel-size;
          width: $pixel-size;
          background-color: $green;
          position: absolute;
          left: $pixel-size * 4;
          top: 0;
        }
      }
    }
    .foot {
      background-color: $dark-brown;
      width: $pixel-size * 3;
      &.left {
        height: $pixel-size * 2;
        position: relative;
        top: $pixel-size * 8;
        left: $pixel-size * 3;
        z-index: -1;
      }
      &.right {
        height: $pixel-size;
        position: relative;
        top: $pixel-size * 6;
        left: $pixel-size * 8;
        z-index: -1;
      }
    }
    .arm {
      background-color: $dark-brown;
      height: $pixel-size * 4;
      width: $pixel-size * 3;
      position: relative;
      left: $pixel-size * 11;
      top: -$pixel-size;
      &:before {
        content: "";
        background-color: $dark-brown;
        width: $pixel-size;
        height: $pixel-size * 2;
        position: absolute;
        left: $pixel-size;
        top: -$pixel-size * 2;
      }
      .hand {
        background-color: $light-brown;
        width: $pixel-size;
        height: $pixel-size * 3;
        &.leftside {
          position: absolute;
          left: 0;
          bottom: 0;
          &:before {
            content: "";
            background-color: $light-brown;
            height: $pixel-size;
            width: $pixel-size;
            position: absolute;
            top: $pixel-size;
            left: -$pixel-size;
          }
        }
        &.rightside {
          position: absolute;
          left: $pixel-size;
          bottom: -$pixel-size;
          &:before {
            content: "";
            background-color: $light-brown;
            height: $pixel-size;
            width: $pixel-size;
            position: absolute;
            top: $pixel-size;
            right: -$pixel-size;
            }
        }
      }
    }
    .shield{
      float: left;
      background-color: $dark-brown;
      width: $pixel-size * 6;
      height: $pixel-size * 5;
      position: relative;
      &:before{
        content: "";
        background-color: $dark-brown;
        width: $pixel-size * 4;
        height: $pixel-size;
        position: absolute;
        left: $pixel-size;
        top: -$pixel-size;
      }
      &:after{
        content: "";
        background-color: $light-brown;
        width: $pixel-size * 4;
        height: $pixel-size;
        position: absolute;
        left: $pixel-size;
        bottom: -$pixel-size;
      }
      .cross{
        background-color: $light-brown;
        width: $pixel-size;
        height: $pixel-size * 4;
        position: absolute;
        left: $pixel-size * 2;
        &:before{
          content: "";
          background-color: $light-brown;
          width: $pixel-size;
          height: $pixel-size;
          position: absolute;
          top: $pixel-size;
          left: -$pixel-size;
        }
        &:after{
          content: "";
          background-color: $light-brown;
          width: $pixel-size;
          height: $pixel-size;
          position: absolute;
          top: $pixel-size;
          right: -$pixel-size;
        }
      }
      .side{
        background-color: $light-brown;
        width: $pixel-size;
        height: $pixel-size * 4;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }


  }
  &.front2{
    @extend .front1;
    .shield{
      margin-left:$pixel-size;
    }
    .foot{
      &.left{
        height: 0;
      }
      &.right{
        height: $pixel-size * 2;
        top: $pixel-size * 8;
      }
    }
    .arm{
      height: $pixel-size * 4;
      width: $pixel-size;
      top: -$pixel-size * 2;
      left: $pixel-size * 12;
      &:before{
        height: $pixel-size;
        width: $pixel-size;
        top: $pixel-size;
        left:-$pixel-size;
      }
      .hand{
        &.leftside{
          height: $pixel-size * 2;
          &:before{
            display: none;
          }
        }
        &.rightside{
          display: none;
        }
      }
    }
    .body{
      .belt{
        &:before{
          left: $pixel-size * 4;
        }
        &:after{
          left: $pixel-size * 5;
        }
      }
    }
  }
  &.back1{
    margin:$pixel-size * 4;
    width: $pixel-size * 14;
    position: absolute;
    .head{
      float: left;
      .hat{
        background-color: $green;
        width: $pixel-size * 8;
        height: $pixel-size * 4;
        position: relative;
        &:before{
          content: "";
          width: $pixel-size * 6;
          height: $pixel-size;
          background-color: $green;
          position: absolute;
          top:-$pixel-size;
          left:$pixel-size;
        }
      }
    }
  }
}
